@import "tailwindcss";
@font-face {
  font-family: unbounded;
  src: url(./assets/fonts/ubounded.ttf);
}
@font-face {
  font-family:ranade;
  src: url(./assets/fonts/ranade.ttf);
}
@font-face {
  font-family:gavoline;
  src: url(./assets/fonts/Gavoline.otf);
}
@font-face {
  font-family:klaft;
  src: url(./assets/fonts/KlaftRegular-2vR5v.otf);
}@font-face {
  font-family:mavinea;
  src: url(./assets/fonts/Mavinea-Regular.otf);
}@font-face {
  font-family:nectron;
  src: url(./assets/fonts/Nectron-Regular.otf);
}@font-face {
  font-family:brighten;
  src: url(./assets/fonts/Brighten.ttf);
}
@font-face {
  font-family:reflow;
  src: url(./assets/fonts/reflow.ttf);
}
@font-face {
  font-family:baflen;
  src: url(./assets/fonts/Baflen.otf);
}
@font-face {
  font-family:caltine;
  src: url(./assets/fonts/Caltine\ Guadi.otf);
}
body{
  background-color:black;
}